<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Django Project</title>
    <h1>Hello {{name}}</h1>
</head> 
<body>
    <form action="add" method="post">
        {% csrf_token %}
        Enter First Number: <input type = "text" name = "1st Number"><br>
        Enter Second Number: <input type = "text" name= "2nd Number"><br>
        <input type="submit">
    </form>

    <br> <br>

    <form action = "greet" method = "post">
        Enter Your Name for the Greet Message: <input type = "text" name = "Name"> <br>
    </form>

</body>
</html>